<h2>Contact</h2>
<p>
Please use the Comments section to leave comments about the game.<br/>
Use this page to get in contact with the developer of the game and the site
manager.
<%= link_to "Write Message", '/pages/write_message' %>
</p>

