<html>
  <head>
    <title><%= @title %></title>
    <!-- PRODUCTION & DEVELOPMENT -->
    <%= javascript_include_tag "dragable_test_content", :debug => Rails.env.development? %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- TODO: separate file -->
    <%= stylesheet_link_tag 'fullscreen', :media => 'screen' %>

    <%= csrf_meta_tag %>
  </head>
  <body>
  </body>
</html>


