<p><br/>
  <h3 class='useful'>Play Space Invaders</h3>
  <h3>Play Alien Invasion!</h3>
  Mutant creatures from outer space are threatening the earth!<br>
    Your mission is to defend our peaceful planet from these space invaders.<br>
      So, take your gun and go kill as many of these beasts as you can.<br>

  Click 'Play' in the menu to start.<br/>
  Play:
  <ul>
  <li>Use arrow left and right to move your ship</li>
  <li>Press the space bar to fire</li>
  <li>'P' to pause / unpause</li>
  <li>'S' to toggle sound</li>
</ul>
  As a logged in user, you can set the sound volume.
</p>

