<p>
<ul>
  <li>Click 'Play' in the menu</li>
  <li>Use arrow left and right to move your ship</li>
  <li>Press the space bar to fire</li>
  <li>'P' to pause / unpause</li>
  <li>'S' to toggle sound</li>
</ul>
</p>

