<p>
</p>
<p class="no_margin">
You can just play.</br>
Sign up, if you want, to get extra features:
<ul class="no_margin">
  <li>Write comments</li>
  <li>Make your highscores publically visible</li>
  <li>Store settings</li>
</ul>
Signing up is easy. Just choose a nickname; no email required.
</p>
