<html>
  <head>
    <title><%= @title %></title>
    <!-- PRODUCTION -->
    <!-- %= javascript_include_tag "menu_test_content" % -->

    <!-- DEVELOPMENT -->
    <script src="/assets/lib/mootools-core-1.4.0-full-compat.js" type="text/javascript"></script>
    <script src='/assets/lib/log.js' type='text/javascript'></script>
    <script src='/assets/lib/js_helper.js' type='text/javascript'></script>
    <script src='/assets/lib/font_helper.js' type='text/javascript'></script>
    <script src='/assets/lib/receiver.js' type='text/javascript'></script>
    <script src='/assets/lib/emitter.js' type='text/javascript'></script>
    <script src='/assets/lib/central_timer.js' type='text/javascript'></script>
    <script src='/assets/lib/interpolator.js' type='text/javascript'></script>
    <script src='/assets/lib/dragable.js' type='text/javascript'></script>
    <script src='/assets/lib/menus.js' type='text/javascript'></script>
    <script src='/assets/menu_test/menu_test.js' type='text/javascript'></script>

    <%= stylesheet_link_tag 'menus', :media => 'screen' %>

    <%= csrf_meta_tag %>
  </head>
  <body>
  </body>
</html>


