<h2>News</h2>
<!--
News should be stored in db!
-->
<div class='news_div'>
<table>
  <tr>
    <td class="news_td">2011/09/15</td>
    <td>...</td>
  </tr>
  <tr>
    <td class="news_td">2011/09/14</td>
    <td>Added CSS</td>
  </tr>
  <tr>
    <td class="news_td">2011/09/12</td>
    <td>Added more pages</td>
  </tr>
  <tr>
    <td class="news_td">2011/09/09</td>
    <td>Added some pages</td>
  </tr>
  <tr>
    <td class="news_td">2011/09/08</td>
    <td>Added basic MVC for User</td>
  </tr>
  <tr>
    <td class="news_td">2011/09/01</td>
    <td>Finished the JS for the game, starting the website, using Ruby on Rails</td>
  </tr>
</table>
</div>
