.container {
  width: 710px;
  height: 150%;
  background: rgba(255,255,255,0.7);

  margin: auto;
  min-height: 100%;
  height:     auto !important;
  overflow:   hidden !important;

  position: relative;
}

.useful {
  /*display: none;*/
  color: rgba(0,0,0,0);
  font-size: 0px;
}

body {
  background-image: url(background.png);
  height:     100%;
}

html {
  height: 100%;
}

.flash {
  color: blue;
  background-color: rgba(80,255,80,0.7);
  background-color: rgba(255,80,80,0.7);
  font-size: 180%;
  position: absolute;
  width: 32%;
  top: 0px;
}
#flash_warning {
  background-color: rgba(255,255,0,0.7);
  color: red;
  width: 100%;
  top: 200px;
}
#flash_error {
  background-color: rgba(255,255,0,0.7);
  border: 1px solid red;
  color: red;
  width: 100%;
  top: 200px;
}

.error_messages {
  border: 1px solid red;
  background-color: rgba(255,255,0,0.7);
}
.error_messages, .error_messages h2 {
  color: red;
  margin-bottom: 0;
}
.error_messages ul {
  margin: 0;
}

form p {
  margin-bottom: 0.3em;
}

.bottom {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px ;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
}

section {
  margin-top: 1em;
  font-size: 200%;
  padding: 20px;
}

section h1 {
  font-size: 200%;
}

section h2 {
  font-size: 140%;
  margin-bottom: 0;
}

/* Links */

a, a:visited {
  color: #060;
  font-weight: bold;
  text-decoration: none;
}

a:focus, a:hover {
  border: solid red 1px;
  box-shadow:8px 8px 8px #666;
  background-color: white;
}


.no_margin {
  margin: 0px;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  font-size:130%;
  border: 1px solid black;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  border: solid rgba(0,0,0,0) 1px;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

a.signup_button {
  text-align: center;
  color: orange;
  background: #66ff66;
  font-weight: bold;
  padding: 4px;
  border: 1px solid red;
}

.round {
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}


/* extra */
.news_div {
  height: 300px;
  overflow-x: none;
  overflow-y: scroll;
}

.news_td {
    vertical-align: top;
}

.simple_form label {
  float: left;
  width: 180px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}
.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

.simple_form div label abbr {
  border: none;
  font-size: 100%;
  vertical-align: -15%;
  color: red;
}

.font50 {
  font-size: 50%;
}


.font75 {
  font-size: 75%;
}


th.sortable > .current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

th.sortable > .asc {
  background-image: url(up_arrow.png);
}

th.sortable > .desc {
  background-image: url(down_arrow.png);
}

nav.pagination {
  float: none;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 70%;
  font-weight: bold;
  padding: 0;
}

.hide_following + * {
  display: none;
}
.show_following + * {
  visibility: visible;
}

