.container {
  width: 710px;
  height: 150%;
  background: rgba(255,255,255,0.7);

  margin: auto;
  min-height: 100%;
  height:     auto !important;
  overflow:   hidden !important;

  position: relative;
}

body {
  background-image: url(background.png);
  height:     100%;
}

html {
  height: 100%;
}

.flash {
  color: red;
  background-color: rgba(80,80,255,0.7);
  font-size: 200%;
  position: absolute;
  right: 0px;
  top: 0px;
}

form {
  line-height: 0.5;
}

form p {
  margin-bottom: 0.3em;
}

.bottom {
	position: absolute;
	bottom: 0px;
	margin-bottom: 0px ;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
}

section {
  margin-top: 1em;
  font-size: 200%;
  padding: 20px;
}

section h1 {
  font-size: 200%;
}

section h2 {
  font-size: 140%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

.no_margin {
  margin: 0px;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  font-size:20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
  border: solid rgba(0,0,0,0) 1px;
}
nav ul li:hover {
  border: solid red 1px;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: none;
}

/* Sign up button */

a.signup_button {
  text-align: center;
  color: #fff;
  background: #66ff66;
  font-weight: bold;
}

.round {
  border-radius:         10px;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}


/* extra */
.news_div {
  height: 300px;
  overflow-x: none;
  overflow-y: scroll;
}

.news_td {
    vertical-align: top;
}

