
.menu-button {

  /* sample gradient for webkit + mobile: 
  background: -webkit-gradient(linear, left top, left bottom,
    from(#777),
    color-stop(0.15, #fff),
    color-stop(0.85, #fff),
    to(#777));
  */

  background: -moz-linear-gradient(top, #fff 0px, #777 100%);
  background: -webkit-gradient(linear, left top, left bottom,
    from(#ffffff),
    to(#777777));

  border: 1px solid black;
}
.menu-caption {
  background: -moz-linear-gradient(top, #ff0 0px, #777 100%);
  background: -webkit-gradient(linear, left top, left bottom,
    from(#ffff00),
    to(#777777));

  background: #bbb;

  border: 1px solid black;
}

.menu-button:active {
  border: 1px solid red;
  color: red;
  background: -moz-linear-gradient(top, #777 0px, #fff 95%);
  background: -webkit-linear-gradient(top, #777 0px, #fff 95%);
  text-shadow: #666 3px 3px 4px;
}

