body {
  margin: 0px; padding: 0; overflow: hidden;
    }
    /* disable text selection */
* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
    }
    html {
      height: 100%;
    }
    body {
      height: 100%;
      margin: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background: red;  /* testing - this value must be overridden */
      background: -o-linear-gradient(left, #444, #fff, #444);
      /*
      background: -o-radial-gradient( 50% 50%, circle, #fff 0px, #444 600px );
      background: -o-linear-gradient(top, #c8482c, #fff);
      background: -o-radial-gradient(center, #fff, #adf);
       */

  /* background: -webkit-gradient( radial, 50% 50%, 0, 50% 50%, 600, from(#fff), to(#444) ); */
  /* background: -moz-radial-gradient( 50% 50%, circle, #fff 0px, #444 600px ); */
    }
    .menu-button {
      border: none;
      background-color: rgba(0,0,0,0);
      width: 100%;
    }
    .menu-button:hover {
      background-color: rgba(255,0,0,0.5);
    }
    .menu-button:focus {
      background-color: rgba(0,128,255,0.5);
    }
    .menu-button:active {
      background-color: rgba(255,128,0,0.5);
    }
    input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
      border : 0px;
    }

