
/* for mobile devices */
.menu-button {
  background: -moz-linear-gradient(top, #fff 0px, #777 100%);
  background: -webkit-linear-gradient(top, #fff 0px, #777 100%);

  width: 100%;
  border: 3px ridge green;
  text-align: left;
  margin: 0;            /* no extra space */
  padding: 1px 6px;
}
.menu-checkbox {
  width: 'none';
}

.menu-checkbox[checked=true] > .uncheck-image {
  display: none;
}
.menu-checkbox[checked=false] > .check-image {
  display: none;
}

.check-image, .uncheck-image {
  vertical-align: text-bottom;
}

.menu-button:active {
  border: 0px solid red;
  border: 3px ridge green;
  color: red;
  background: -moz-linear-gradient(top, #777 0px, #fff 95%);
  background: -webkit-linear-gradient(top, #777 0px, #fff 95%);
  text-shadow: #666 3px 3px 4px;
}

.splash-menu {
  width: 100%;
}

/* ??
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
  border : 0px;
}
*/

